.blogbg{
    background-color: var(--tertiary);
}
.card-blog{
  display: flex;
  flex-wrap: wrap;
  background-color: var(--quadinary);
}
.custom-btn{
    background-color: var(--secondary);
    border-radius: 3px;
    color: white;
    border-color: var(--secondary);
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.707) 0px 22px 70px 4px;
    text-decoration: none;
}
.custom-btnu{
  background-color: var(--secondary);
  border-radius: 3px;
  color: white;
  border-color: var(--secondary);
  padding: 5px;
  text-decoration: none;
}
.btnr{
    margin-top: 20px;
}
.blogdec{
    color: #fff;
    font-family: var(--primaryfont);
    text-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
  /* dfd */
  .blog-card-container{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--tertiary);
  }

  /* single blog page */
  .BlogSingle {
    height: auto;
  }
  .Banner_Title{
    font-family: var(--headingfont);
  }
  
  .BannerImg {
    width: 100% !important;
    margin: 4rem 2rem 2rem 0 !important;
    height: 300px !important;
  }
  .BlogSingle img {
    width: 50%;
    height: auto;
    margin: 1rem;
  }
  .BlogSingle h1 {
    font-size: 3rem !important;
    color: var(--primary-blue);
  }
  .Banner_author {
    font-size: 1.05rem;
    font-family: var(--secondaryfont);
  }
  .Banner_Content {
    font-size: 1.23rem;
    font-weight: 400;
    font-family: var(--primaryfont);
  }
  .Banner_Read_More {
    margin: 3rem;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    border: none;
    background: var(--primary);
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    font-size: 1rem;
    text-decoration: none;
  }
  .Blog_Card .card {
    height: 100%;
    position: relative;
    padding-bottom: 3rem;
  }
  .Blog_Card .card-text {
    font-size: 16px;
    font-weight: 400;
  }
  .Blog_Card h4 {
    font-weight: 800px !important;
  }
  .Heading {
    color: var(--primary-blue);
  }
  .BlockContent img {
    margin: auto;
  }
  .Blog_Card .card a {
    position: absolute;
    bottom: 0%;
    left: 31%;
    margin: 1rem;
  }



  .Author-icon{
    background: rgba(255, 255, 137, 0.699);
    padding: 0.8rem;
    border-radius: 12px;
    color: brown;
  }
  .Calender-icon{
    background: rgba(203, 203, 255, 0.63);
    padding: 0.8rem;
    border-radius: 12px;
    color: var(--secondary);
  }

  .Blog_Card{
    margin: 2rem 0;
    padding: 0 0 1rem 0;
    border: none;
    border-bottom: solid 1px rgba(128, 128, 128, 0.527) ;
    border-radius: 0;
  }

  .Blog_Card img{
    border-radius: 25px !important;
    height: 200px !important;
    margin: 2rem 0;
  }
  
  @media screen and (max-width: 600px) {
    .Banner_Content {
      font-size: 0.9rem !important;
    }
  }
  @media screen and (max-width: 1240px) {
  }
  
  /* 3d text */
  .head-3d{
    text-transform: uppercase;
    font-family: var(--primaryfont);
    font-size: 45px;
    font-weight: 700;
    color: #f5f5f5;
    margin-bottom: 30px;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
  }
  #mobresimgb{
    filter: drop-shadow(0px 8px 0.9px black);
  }
  

  /* responsive design */
  @media screen and (max-width: 450px) {
    .head-3d{
        font-size: 35px;
    }
    #mobresimgb{
        width: 300px;
        height: 300px;
       
    }
}