.noitms{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: var(--bodyfont);
    font-weight: 800;
    height: 500px;
    margin-left: 60px;
}